/****** Elad Shechter's RESET *******/
*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
/* figure{margin:0;} */
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
/* cite {font-style:normal;} */
fieldset{border-width:0; padding:0; margin:0;}
/****** Josh Comeau RESET *******/
* {
    line-height: calc(1em + 0.5rem);
  }
  body {
    -webkit-font-smoothing: antialiased;
  }
  /* img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  } */
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
  }
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*#root, #__next {
  isolation: isolate;
} */