:root {
  --color-blacurl: #000000;
  --color-primary: #eeeff1;
  --color-secondary: #34547a;
  --color-grey: #727272;
  --color-white: #ffffff;
  --color-link--active: #3f556c;

  --line-height: 1.64;
  --line-height-sm: 1.2;

  --letter-spacing: 0.1em;

  --gap: 20px;
  --gap-xl: 40px;

  --container-primary: 1110px;
  --container-secondary: 540px;
  --container-video: 600px;

  --font-weight-title: 500;
  --font-weight-normal: 400;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  font-size: 16px;
}
.container {
  width: min(100% - var(--gap-xl), var(--container-primary));
  margin-inline: auto;
}
.section {
  padding-top: 100px;
  padding-bottom: 120px;
  text-align: center;
  background-color: var(--color-primary);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  visibility: hidden;
}
.about__title,
.work__title {
  font-size: 2rem;
  margin-bottom: 35px;
}
/* Header */
.header {
  background-color: var(--color-primary);
  padding-top: 65px;
  padding-bottom: 141px;
}
/* Navbar */
.navbar {
  margin-bottom: 141px;
}
.navbar__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.navbar__link {
  display: block;
  text-transform: uppercase;
  padding: 15px;
  color: var(--color-blacurl);
  letter-spacing: var(--letter-spacing);
}
.navbar__link--first {
  padding-left: 0;
}
.navbar__link--active,
.title {
  font-weight: var(--font-weight-title);
}
.navbar__link--active {
  color: var(--color-link--active);
}
/* Design */
.design {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: var(--container-secondary);
}
.design__title {
  font-size: 3rem;
  line-height: var(--line-height-sm);
  margin-bottom: 40px;
}
.design__text,
.about__text {
  color: var(--color-grey);
  width: min(100% - var(--gap-xl), var(--container-secondary));
}
.design__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  min-width: 225px;
  min-height: 65px;
  color: var(--color-white);
  margin-top: 60px;
  letter-spacing: var(--letter-spacing);
}
/* About */
.about {
  gap: var(--gap);
  background-color: var(--color-white);
}
.about__title,
.about__text,
.work__video {
  margin-inline: auto;
}
/* Projects*/
.projects {
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding-top: 100px;
  padding-bottom: 100px;
}
.projects__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
.projects__item {
  display: flex;
  gap: 20px;
  height: 50px;
  width: 140px;
}
.projects__item-number {
  font-size: 1.3125rem;
}
/* Work */
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.work__content {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work__description {
  text-align: center;
  color: var(--color-grey);
}
.work__video {
  width: min(100% - var(--gap-xl), var(--container-primary));
  height: var(--container-video);
  border: 0;
}
/* Footer */
.footer,
.projects,
.design__button {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.footer {
  padding: 50px 0;
}
.footer__top {
  font-size: 1.3125rem;
}
.footer__bottom {
  font-size: 0.8rem;
}
